doc/_build/
**/__pycache__
**/pytest_cache
**/*.egg
**/*.egg-info
**/.astropy
**/.cache
**/.config
**/.wget*
**/_tests
**/dist
**/eggs
**/build
**/.ipynb_checkpoints
**/bak
**/_tests
*.module
*log
*miniconda.*
*update_pkg_list.txt
